<article id="{{content_path}}" class="{{type}}">
  <header>
    <h2 class="title">
      {{title}}
    </h2>
    <nav>
      <a href="/" class="rss"></a>
      <a href="/" class="email"></a>
      <a href="/" class="twitter"></a>
      <a href="https://github.com/llleftyy/jckzlg/commits/master/{{content_path}}" class="github"></a>
    </nav>
  </header>

  <div class="content">
    {{content}}
  </div>
</article>
