<article id="{{content_path}}" class="{{type}}">
  <header>
    <h3 class="title">
      {{title}}
    </h3>

    <h5 class="posted-date">
       <time datetime="{{posted_date}}">{{display_date}}</time>
    </h5>
  </header>

  {{content}}
</article>
