@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*******************************************************************************
 * GENERAL STYLES
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  max-width: 35em;
  margin: auto;
  color: rgb(68, 68, 68);
  font-size: 16px;
}

a {
  color: red;
  font-weight: bold;
  font-variant: small-caps;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
/*******************************************************************************
 * FONTS
 ******************************************************************************/

body {
  font-family: 'Avenir', 'Open Sans', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', 'Roboto', 'sans-serif';
}

/*******************************************************************************
 * POST STYLES
 ******************************************************************************/

article {
  margin-bottom: 1em;
  padding: 1em;
}

article header {
  font-variant: small-caps;
  color: red;
  margin-bottom: 1em;
}

.posted-date {
  color: gray;
}

article.reflection ul, article.note ul {
  margin: 1.5em;
}

article h4 {
  font-variant: small-caps;
  margin-bottom: 0.5em;
}

article p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*******************************************************************************
 * SHELF STYLES
 ******************************************************************************/

.bookshelf li {
  list-style-type: none;
  margin-bottom: 0.25em;
}

/*******************************************************************************
 * NAV STYLES
 ******************************************************************************/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about {
  display: block;
  background-size: 48px;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
  float: left;
}

#twitter, #email, #rss {
  display: block;
  background-size: 32px;
  height: 32px;
  width: 32px;
  float: right;
  filter: invert(50%);
  margin-top: -4px;
}

#about {
  background-image: url("/moustache.png");
}
#twitter {
  background-image: url("/twitter.png");
}
#email {
  background-image: url("/email.png");
}
#rss {
  background-image: url("/rss.png");
}
