@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*******************************************************************************
 * GENERAL STYLES
 ******************************************************************************/
h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: rgb(68, 68, 68);
  font-size: 16px;
  max-width: 35em;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .centered {
    width: 100%;
  }
}

/*******************************************************************************
 * FONTS
 ******************************************************************************/

body {
  font-family: 'Avenir', 'Open Sans', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir', 'Roboto', 'sans-serif';
}

/*******************************************************************************
 * POST STYLES
 ******************************************************************************/

article {
  margin-bottom: 1em;
}

article header {
  font-variant: small-caps;
  height: 40px;
  line-height: 40px;
  background-color: Maroon;
  color: white;
  padding-left: 1em;
  padding-right: 0.25em;
  border-radius: 3px;
}

article .title {
  float: left;
}

article .content {
  padding: 1em;
}

article.reflection ul, article.note ul {
  margin: 1.5em;
}

article h4 {
  font-variant: small-caps;
  margin-bottom: 0.5em;
}

article p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.github, .twitter, .email, .rss {
  background-size: 32px;
  height: 40px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}
.github {
  background-image: url("/github.png");
}
.twitter {
  background-image: url("/twitter.png");
}
.email {
  background-image: url("/email.png");
}
.rss {
  background-image: url("/rss.png");
}
