<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <link rel="icon" href="smiley.png" type="image/x-icon"/>
   <link rel="stylesheet" content-type="text/css" href="index.css" />
   <title>jckzlg</title>
</head>
<body id="top">
  <!--
  <nav>
    <a href="#top">home</a>
    <a href="/about">about</a>
    <a href="/shelf.html">shelf</a>
    <a href="/rss">rss</a>
  </nav>
  -->

  {{include:notes/bookshelf.include}}
  {{include:notes/energy-gang-notes.include}}
  {{include:notes/making-sense-2019-12-17.include}}
  {{include:articles/ego-killin.include}}
  {{include:articles/a-gentle-night.include}}
  {{include:articles/body-reboot-2019.include}}
  {{include:articles/a-small-struggle.include}}
  {{include:articles/dismissal-appeal.include}}
  {{include:articles/clear.include}}
  {{include:articles/cigarettes.include}}

</body>

</html> 
