/*******************************************************************************
 * GENERAL STYLES
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  background-color: WhiteSmoke;
}

body {
  background-color: white;
  font-size: 14px;
  font-family: Verdana, Arial;
  margin: auto;
  max-width: 35em;
  padding: 0 4em 4em 4em;
}

/*******************************************************************************
 * HEADER STYLES
 ******************************************************************************/

.main-header {
  width: auto;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

nav a {
  float: right;
  margin-left: 2em;
}

/*******************************************************************************
 * POST STYLES
 ******************************************************************************/

article {
  margin-bottom: 4em;
}

.reflection p {
  text-indent: 2em;
  text-align: justify;
}

header {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 0;
}

.posted-date {
  color: Gray;
}

blockquote {
  text-align: left;
  font-size: 1.25em;
  color: Gray;
}

