/*******************************************************************************
 * GENERAL STYLES
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Avenir;
  margin: auto;
  max-width: 40em;
  padding: 2em 4em 4em 4em;
}

/*******************************************************************************
 * HEADER STYLES
 ******************************************************************************/

nav a {
  float: right;
  margin-left: 2em;
}

/*******************************************************************************
 * POST STYLES
 ******************************************************************************/

article {
  margin-bottom: 4em;
}

.reflection p {
  text-align: justify;
}

header {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 0;
}

.posted-date {
  color: blue;
}

blockquote {
  font-size: 1.1em;
  color: Gray;
}

