/*******************************************************************************
 * GENERAL STYLES
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Avenir;
  margin: auto;
  max-width: 40em;
  padding: 2em 2em 2em 2em;
}

/*******************************************************************************
 * NAV STYLES
 ******************************************************************************/
#top-icon {
  float: right;
  width: 10%;
}

nav {
  text-align: right;
  margin-top: 2em;
}
nav a {
  margin: 0.75em;
}

/*******************************************************************************
 * POST STYLES
 ******************************************************************************/

article {
  margin-bottom: 4em;
}

.reflection p {
  text-align: justify;
}

article header {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 0;
}

.posted-date {
  color: blue;
}

article ul {
  padding: 0em 2em 0em 2em;
  text-align: justify;
}
article li {
  margin: 0.5em;
}

/*******************************************************************************
 * SHELF STYLES
 ******************************************************************************/

.book {
  list-style-type: none;
  line-height: 1;
}
